<div class="container">
    <div class="row mt-4">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-body">
            <h1 class="text-center mb-4 mt-4">
              <span class="text-primary">Books panel</span> Register
            </h1>
            <form novalidate #form="ngForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" 
                       name="email" 
                       id="email" 
                       class="form-control"
                       [(ngModel)]="email"
                       required
                >
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="text" 
                       name="password" 
                       id="password" 
                       class="form-control"
                       [(ngModel)]="password"
                       required
                >
              </div>
              <button class="btn btn-control btn-primary" [disabled]="form.invalid">Register</button>
            </form>
          </div>
        </div>
        <div class="alert alert-dark mt-5 col-12" *ngIf="isShowMessage">Sorry registration is unavailable(</div>
      </div>
    </div>
  </div>
  