<div class="card mt-3">
  <div class="card-body">
    <form #form="ngForm" novalidate>
      <div class="form-group">
        <label for="text">Text</label>
        <input type="text" 
               class="form-control" 
               id="text" 
               name="title"
               [(ngModel)]="title"
               #taskTitle="ngModel"
               required
        >
      </div>
      <div class="alert alert-danger" *ngIf="taskTitle.touched && taskTitle.invalid && form.submitted">Title required</div>
      <button class="btn btn-primary" [disabled]="taskTitle.invalid" *ngIf="!isEdit" (click)="addTask()">Add task</button>
      <button class="btn btn-primary" [disabled]="taskTitle.invalid" *ngIf="isEdit" (click)="editTask()">Edit task</button>
    </form>
  </div>
</div>