<div class="container mt-3">
  <div class="mt-5" *ngFor="let order of orders; let i = index">
    <div class="card">
      <div class="card-header">
          ORDER INFO #{{ i + 1 }}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <label for="name">Name: {{order.name}}</label>            
            <input type="text"
                   class="form-control"
                   id="name"
                   name="name"
                   [(ngModel)]="order.name"
                   [readonly]="!order.isEdit"
                   required
                             >
          </li>
          <li class="list-group-item">
              <label for="phone">Phone: {{order.phone}}</label>            
              <input type="text"
                     class="form-control"
                     id="phone"
                     name="phone"
                     [(ngModel)]="order.phone"
                     [readonly]="!order.isEdit"
                     required
              >
          </li>
          <li class="list-group-item">
            <label for="email">Email: {{order.email}}</label>
            <input type="text"
                   class="form-control"
                   id="email"
                   name="email"
                   [(ngModel)]="order.email"
                   [readonly]="!order.isEdit"
                   required
          >
          </li>
        </ul>
        <button class="btn btn-primary m-3" (click)="order.isEdit = !order.isEdit">{{ order.isEdit ? 'Save' : 'Edit'}}</button>
    </div>
    <table class="table mt-3">
      <thead>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Count</th>
        <th>Sum</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let item of order.items; let idx = index">
          <td>{{ idx + 1 }}</td>
          <th scope="row">{{item.name}}</th>
          <td>{{item.price | currency: 'USD'}}</td>
          <td>
            <input type="number" 
                    name="count" 
                    [(ngModel)]="item.count" 
                    min="1"
                    max="100"
                    (change)="onChangeItemCount(item)"
            >
          </td>
          <td>{{item.sum}}</td>
          <td>
            <i class="fa fa-remove ml-auto text-danger" (click)="deleteItem(item.id)"></i>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Total</td>
          <td>{{order.total}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <select class="form-control" [(ngModel)]="order.status" name="status" (change)="changeStatus(order)">
      <option value="processing">processing</option>
      <option value="shipping">shipping</option>
      <option value="delivered">delivered</option>
    </select>
  </div>

</div>
